@import "../../_globalColor";

.card-image {
  max-width: 100%;
  height: auto;
  width: 250px;
}

.card-title {
  color: $cardTextColor;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 5px 0;
}

.card-subtitle {
  color: $cardTextColor;
  font-size: 16px;
  line-height: 20px;
  margin: 0.5rem 0 1rem 0;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: $cardBackground;
  box-shadow: 0px 20px 50px $darkBoxShadow;
  transition: box-shadow 0.3s ease;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  justify-content: flex-start; /* change from center to flex-start */
}

.project-card:hover {
  box-shadow: 0 20px 40px $buttonHover;
}

.project-detail {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-image {
  position: relative;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* add spacing below image */
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

.project-card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: auto;
}

.project-card-footer span.project-tag {
  background: $cardButton;
  border: solid 2px $cardButton;
  color: $cardButtonText;
  vertical-align: middle;
  align-items: center;
  border-radius: 6px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.project-card-footer span.project-tag:hover {
  background: $cardButtonText;
  color: $cardButton;
}

@media (max-width: 768px) {
  .card-subtitle {
    font-size: 14px;
    text-align: center;
  }
  .card-title {
    font-size: 18px;
    text-align: center;
  }
}
