@import "../../_globalColor";

.contact-div-main {
  display: flex;
}

.contact-div-main > * {
  flex: 1;
}

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
  color: $textColor;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $primary;
  text-shadow: 0px 0px 20px $buttonColor;
  transition: all 0.3s;
}

.contact-text-div {
  margin-top: 1.5rem;
  text-align: center;
}

.contact-margin-top {
  margin-top: 4rem;
}
